* {
  font-family: Verdana, Arial, sans-serif;
}

a {
  transition: all 0.3s ease-in-out;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.color-me-red {
  color: var(--red);
}