header {
  background-color: white;
  padding: 1rem 2rem;
  justify-content: center;
}

.header-container {
  max-width: 1050px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.profile-image {
  width: auto;
  height: 200px;
  margin-top: 10px;
  margin-right: 20px;
}

header h1 {
  color: var(--dark-blue);
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px;
}

header h2 {
  color: var(--blue-gray);
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 15px;
}

header .header-social a {
  background: var(--blue-gray);
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin-right: 5px;
}

header .header-social a:hover {
  background: var(--dark-blue);
}

header .header-social a .svg-inline--fa {
  font-size: 20px;
  margin-top: 8px;
}

header .info {
  color: var(--blue-gray);
}

header .info .svg-inline--fa {
  color: #ccd1d6;
  margin-right: 15px;
}